<footer>
    <div class="footer-flex">
        <article class="footer-art footer-uno">
            <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo" alt=""></a>
        </article>

        <h4 class="footer-copy-header">
            <i class="fas fa-gamepad"></i>
            La mejor opción para los gamers
        </h4>

        <article class="footer-art footer-dos">
            <h3>Seguinos en las redes</h3>
            <div class="footer-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </article>
    </div>
    

    <article class="footer-art footer-tres">
        <p>Todos los derechos Reservados</p>
        <p class="blanco">Diseño: Juan Molina, Santi Ortigoza, Rocko Ponce.</p>
    </article>
</footer>