<head>
    <!--Codificacion-->
    <meta charset="UTF-8">
    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="/img/zgfavicon.png" type="image/x-icon">
    <!--Titulo-->
    <title><%= (typeof Solapa != "undefined") ? Solapa : 'ZG' %></title>
</head>

