<header class="main-header">
    <div class="top-header">
        <div class="logo-burger">
            <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo"></a>
            <a href="#" class="burger-button">
                <i class = "fa fa-bars"></i>
            </a>
        </div>
        <h2 class="copy-header">
            <i class="fas fa-gamepad"></i>
            La mejor opci칩n para los gamers
        </h2>
    </div>

    <div class="form" action='/search' method="GET">
        <div class="inputs-header">
            <input class="input" type="text" name="keywords" placeholder="Buscar productos">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <!--<div class="input" type="text">Buscar productos, marcas y m치s</div>
        <div class="submit"><i class="fa fa-search"></i></div>-->
    </div>


    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Consolas</a></li>
            <li><a href="">Juegos</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="">Cre치 tu cuenta  <i class="far fa-id-card"></i></a></li>
            <li><a href="">Ingres치  <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
</header>