<header class="main-header">
    <nav class="main-navbar">
        <div class="top-header">
            <div class="logo-burger">
                <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo"></a>
                <a href="#" class="burger-button">
                    <i class = "fa fa-bars"></i>
                </a>
            </div>

            <ul class="left-navbar navbar-desktop">
                <li><a href="/products">Productos</a></li>
                <li>
                    <a href="">Consolas <i class="fas fa-arrow-down"></i></a>
                    <ul class="desplegable">
                        <li><a href="/">Play Station</a></li>
                        <li><a href="/">Xbox</a></li>
                    </ul>
                </li>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Novedades</a></li>
                
            </ul>
            
            <ul class="left-navbar navbar-icons">
                <li><a href="/"><i class="fab fa-playstation"></i></a></li>
                <li><a href="/"><i class="fab fa-xbox"></i></a></li>
                <li><a href="/products"><i class="fas fa-gift"></i></a></li>
            </ul>
        </div>
        
        <ul class="right-navbar">
            <% if (locals.isLogged) { %>
                <li class="profile-navbar">
                    <a class="profile-icon" href="/users/profile">
                        <img src="/img/usersImg/<%= locals.userLogged.image %> " class="img-profile">
                         
                    </a>
                </li>
                <li><a class="profile-logout" href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href=""><i class="fas fa-shopping-basket"></i></a></li>
            <% } else { %>
                <li><a href="/users/registro"><i class="far fa-id-card" title="registrarse"></i></a></li>
                <li><a href="/users/login"><i class="fas fa-sign-in-alt" title="loguearse"></i></a></li>
            <% } %>

            <form class="form" action='/search' method="GET">
                <div class="inputs-header">
                    <input class="input" type="text" name="keywords" placeholder="Buscar">
                    <button type="submit">Buscar</button>
                </div>
            </form>
        </ul>
    </nav>
</header>