<header class="main-header">
    <div class="top-header">
        <div class="logo-burger">
            <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo"></a>
            <a href="#" class="burger-button">
                <i class = "fa fa-bars"></i>
            </a>
        </div>
        <h2 class="copy-header">
            <i class="fas fa-gamepad"></i>
            La mejor opción para los gamers
        </h2>
    </div>

</header>