<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", {Solapa:"ZG - Productos"}) %>

	<body class="body-404">
		<section class="main-404">
			<img src="/img/404_page_not_found.png" alt="Error 404 - Page not found">
		</section>
		<a href="/" class="button-404">Volver al inicio</a>
	</body>

</html>