<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ZONA GAMER</title>
</head>
<body>

    <header class="main-header">
        <div class="top-header">
            <div class="logo-burger">
                <img src="img/ZonaGamer_logo.png" class="logo">
                <a href="#" class="burger-button">
                    <i class = "fa fa-bars"></i>
                </a>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-gamepad"></i>
                La mejor opción para los gamers
            </h2>
        </div>

        <div class="form" action='#' method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Consolas</a></li>
                <li><a href="">Juegos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="banner">
            <img src="img/juegos_01_Assasin_ch.jpg" alt="">
        </div>

        <div class="duos">
            <article class="plays"><img src="img/PS5_logo.png" alt="logo Play"></article>
            <article class="xbox"><img src="img/xbox_logo_2.png" alt="logo XBox"></article>
        </div>

        <section class="ofertas">
            <h3 class="titulo-section">OFERTAS</h3>
            <article>
                <a href="/joystick_PS5"><img src="/img/ps5_joystick_01.jpg" alt="cafetera" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">Joystick PS5</h4>   
                </div>
            </article>
            <article>
                <a href="/joystick_XBox"><img src="/img/xbox_joystick_01.jpg" alt="XBox joystick" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.300</p>
                    <p class="descuento">30% off</p>
                    <h4 class="descripcion">Joystick XBox X Series</h4>
                </div>
            </article>
            <article> 
                <a href="/Fifa_21"><img src="/img/JuegosCaja_02_fifa.jpg" alt="Fifa21" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$2.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Fifa 21</h4>
                </div> 
            </article>
            <article>
                <a href="/The_Last_Of_Us"><img src="/img/JuegosCaja_03_TheLastOfUs.jpg" alt="TheLastOfUs" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$3.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">The last of us</h4>
                </div>
            </article>
        </section>

        <section class="novedades">
            <h3 class="titulo-section">NOVEDADES</h3>
            <article>
                <a href="/joystick_PS5"><img src="/img/ps5_joystick_01.jpg" alt="cafetera" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">Joystick PS5</h4>   
                </div>
            </article>
            <article>
                <a href="/joystick_XBox"><img src="/img/xbox_joystick_01.jpg" alt="XBox joystick" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.300</p>
                    <p class="descuento">30% off</p>
                    <h4 class="descripcion">Joystick XBox X Series</h4>
                </div>
            </article>
            <article> 
                <a href="/Fifa_21"><img src="/img/JuegosCaja_02_fifa.jpg" alt="Fifa21" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$2.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Fifa 21</h4>
                </div> 
            </article>
            <article>
                <a href="/The_Last_Of_Us"><img src="/img/JuegosCaja_03_TheLastOfUs.jpg" alt="TheLastOfUs" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$3.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">The last of us</h4>
                </div>
            </article>
        </section>

    </main>

    <footer>
        <article class="footer-art footer-uno">
            <img src="/img/ZonaGamer_logo.png" class="logo" alt="">
        </article>

        <article class="footer-art footer-dos">
            <h3>Seguinos en las redes</h3>
            <div class="footer-icons">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </article>

        <article class="footer-art footer-tres">
            <p>Todos los derechos Reservados</p>
            <p class="blanco">Diseño: Juan M., Santi O., Rocko P.</p>
        </article>
    </footer>

</body>
</html>