<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ZONA GAMER</title>
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo-burger">
                <img src="/img/Zona-Gamer_logo_light_grey_2.png" class="logo">
                <a href="#" class="burger-button">
                    <i class = "fa fa-bars"></i>
                </a>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> 
                La mejor opción para los gamers
            </h2>
        </div>

        <div class="form" action='#' method="GET">
            <input type="text" placeholder="Buscar Producto">
            <input type="submit" value="Buscar">
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Consolas</a></li>
                <li><a href="">Juegos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="duos">
            <article class="plays"><img src="img/PS5_logo.png" alt="logo Play"></article>
            <article class="xbox"><img src="img/XBOX_logo.png" alt="logo XBox"></article>
        </div>
        <section></section>
        <section></section>
    </main>
    <footer>

    </footer>
</body>
</html>