<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZONA GAMER</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="/img/zgfavicon.png" type="image/x-icon">
    <!--Archivos CSS-->
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!--Fuentes Google-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap"
        rel="stylesheet">
    <!--Font Awesome-->
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <!--BOOTSTRAP 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">

        <div class="container-fluid">

            <a class="navbar-brand" href="#"><img src="/img/ZonaGamer_logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Ofertas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Consolas</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Juegos
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="#">Xbox</a></li>
                            <li><a class="dropdown-item" href="#">PlayStation</a></li>
                            <!--<li><hr class="dropdown-divider">asd</li>
                  <li><a class="dropdown-item" href="#">asdfer</a></li>
                  <li><a class="dropdown-item" href="#">asdfer</a></li>-->

                        </ul>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Accesorios</a>
                    </li>

                </ul>

                <form class="d-flex">
                    <a href="./registro" target="_blank"><i class="far fa-id-card"></i></a>
                    <a href="./login" target="_blank"><i class="fas fa-sign-in-alt"></i></a>
                    <a href="./carrito" target="_blank"><i class="fas fa-shopping-basket"></i></a>

                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>

            </div>

        </div>

    </nav>

    </header>

    <main>

        <!--Probando Bootstrap 5-->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="/img/slide_fifa_b.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/img/slide_dirt.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/img/slide_assassins_b.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/img/slide_ps5_b.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fourth slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/img/slide_xbox_b.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fifth slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

        </div>

        <div class="duos">
            <article class="plays"><img src="/img/PS5_logo.png" alt="logo Play"></article>
            <article class="xbox"><img src="/img/xbox_logo_2.png" alt="logo XBox"></article>
        </div>

        <section class="ofertas">
            <h3 class="titulo-section">OFERTAS</h3>
            <article class="prod-contenedor">
                <a href="/joystick_PS5"><img src="/img/ps5_joystick_01.jpg" alt="cafetera" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">Joystick PS5</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/joystick_XBox"><img src="/img/xbox_joystick_01.jpg" alt="XBox joystick"
                        class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.300</p>
                    <p class="descuento">30% off</p>
                    <h4 class="descripcion">Joystick XBox X Series</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/Fifa_21"><img src="/img/JuegosCaja_02_fifa.jpg" alt="Fifa21" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$2.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Fifa 21</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/The_Last_Of_Us"><img src="/img/JuegosCaja_03_TheLastOfUs.jpg" alt="TheLastOfUs"
                        class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$3.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">The last of us</h4>
                </div>
            </article>
        </section>

        <section class="novedades">
            <h3 class="titulo-section">NOVEDADES</h3>
            <article class="prod-contenedor">
                <a href="/joystick_PS5"><img src="/img/ps5_joystick_01.jpg" alt="cafetera" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">Joystick PS5</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/joystick_XBox"><img src="/img/xbox_joystick_01.jpg" alt="XBox joystick"
                        class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.300</p>
                    <p class="descuento">30% off</p>
                    <h4 class="descripcion">Joystick XBox X Series</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/Fifa_21"><img src="/img/JuegosCaja_02_fifa.jpg" alt="Fifa21" class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$2.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Fifa 21</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/The_Last_Of_Us"><img src="/img/JuegosCaja_03_TheLastOfUs.jpg" alt="TheLastOfUs"
                        class="img-producto"></a>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$3.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">The last of us</h4>
                </div>
            </article>
        </section>

    </main>

    <footer>
        <div class="footer-flex">
            <article class="footer-art footer-uno">
                <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo" alt=""></a>
            </article>

            <h4 class="footer-copy-header">
                <i class="fas fa-gamepad"></i>
                La mejor opción para los gamers
            </h4>

            <article class="footer-art footer-dos">
                <h3>Seguinos en las redes</h3>
                <div class="footer-icons">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </article>
        </div>
        

        <article class="footer-art footer-tres">
            <p>Todos los derechos Reservados</p>
            <p class="blanco">Diseño: Juan M., Santi O., Rocko P.</p>
        </article>
    </footer>

</body>

</html>