<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/styles-carrito.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="/img/zgfavicon.png" type="image/x-icon">
    <title>ZG - Detalle de Compra</title>
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo-burger">
                <img src="/img/ZonaGamer_logo.png" class="logo">
                <a href="#" class="burger-button">
                    <i class = "fa fa-bars"></i>
                </a>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-gamepad"></i>
                La mejor opción para los gamers
            </h2>
        </div>

        <div class="form" action='#' method="GET">
            <input class="input" type="text" name="search-bar" placeholder="Buscar productos, marcas y más">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Consolas</a></li>
                <li><a href="">Juegos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="contenedor-cart">
        <h4>Carrito de compras</h4>
        
        <section class="checkout-cart">
            <article class="item-cart">
                <form action="#" method="GET">
                    <button type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
                <div class="img-cart"><img src="/img/JuegosCaja_03_TheLastOfUs.jpg" alt=""> </div>
                <div class="descripcion-cart"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="precio-cart">$4500</div>
            </article>
            <article class="cant-cart">
                <form action="#" method="GET">
                    <label for="cantidad">Cantidad:</label>
                    <input class="cant-prod" type="text" name="cantidad" id="cantidad">
                </form>
            </article>
        </section>

        <section class="sumario-cart">
            <h4>Resumen de compra</h4>
            <div class="descuento-cart">
                <form action="#" method="GET">
                    <label for="descuento">Ingrese código de descuento.
                        <input type="text" name="descuento" id="descuento" placeholder="Ingrese código de descuento">
                    </label>
                </form>
            </div>
            <p>Debido a la emergencia sanitaria, la preparación y entrega de los pedidos pueden verse afectados con una demora extra a lo habitual.</p>
            <div class="totales">
                <div class="titulos">
                    <h5>SUBTOTAL:</h5>
                    <h5>ENVÍO:</h5>
                    <h3>TOTAL:</h3>
                </div>
                <div class="cantidades">
                    <h5>$16.000</h5>
                    <h5>calcular</h5>
                    <h3>$16.000</h3>
                </div>
            </div>
            <form action="#" method="GET">
                <button type="submit">Iniciar Pago</button>
            </form>
            <form action="#" method="GET">
                <button type="submit">Agregar más productos</button>
            </form>
        </section>
    </main>

    <footer>
        <div class="footer-flex">
            <article class="footer-art footer-uno">
                <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo" alt=""></a>
            </article>

            <h4 class="footer-copy-header">
                <i class="fas fa-gamepad"></i>
                La mejor opción para los gamers
            </h4>

            <article class="footer-art footer-dos">
                <h3>Seguinos en las redes</h3>
                <div class="footer-icons">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </article>
        </div>
        

        <article class="footer-art footer-tres">
            <p>Todos los derechos Reservados</p>
            <p class="blanco">Diseño: Juan M., Santi O., Rocko P.</p>
        </article>
    </footer>
    
</body>
</html>