<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-detalle.css">
    <title>Producto</title>
</head>
<body>
    <div>
        <img src="/img/Control.jpg" alt="Imagen del producto">
    </div>

    <br>
    
    <span> <img class="maschico" src="/img/Control.jpg" alt="Imagen del producto">
     <img class="maschico" src="/img/Control.jpg" alt="Imagen del producto">
     <img class="maschico" src="/img/Control.jpg" alt="Imagen del producto">
     <img class="maschico" src="/img/Control.jpg" alt="Imagen del producto"></span>
    
    <h2>Joystick inalámbrico Sony DualSense PS5</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam explicabo exercitationem asperiores voluptate quasi totam nemo,
       fugiat velit suscipit at unde neque atque cum vel expedita! Laudantium, in reprehenderit. Numquam.</p>

    <h2>$11.500</h2>

    <p class="color">12 cuotas s/interés</p>
       <br>
    <h2>Especificaciones</h2>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut expedita nostrum nulla facilis quod fuga! Eius, voluptatem?
       In maxime esse ut deleniti voluptatibus amet optio necessitatibus obcaecati laudantium vel?</p>

</body>

</html>
