<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/styles-registro.css">
    <title>Registro</title>
</head>

<body>

    <header class="main-header">
        <div class="top-header">
            <div class="logo-burger">
                <img src="img/ZonaGamer_logo.png" class="logo">
                <a href="#" class="burger-button">
                    <i class = "fa fa-bars"></i>
                </a>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-gamepad"></i>
                La mejor opción para los gamers
            </h2>
        </div>

        <div class="form" action='#' method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Consolas</a></li>
                <li><a href="">Juegos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <form action="" class="form">

        <h2 class="titulo-formulario">CREAR CUENTA</h2>

        <div class="control-formulario">
            <label for="nombre"><i class="fas fa-address-card"></i></label>
            <input id="nombre" type="text" name="nombre" placeholder="Nombre Completo">
        </div>

        <div class="control-formulario">
            <label for="usuario"><i class="fas fa-user"></i></label>
            <input id="usuario" type="text" name="usuario" placeholder="Nombre de Usuario">
        </div>
        
        <div class="control-formulario">
            <label for="email"><i class="fas fa-envelope"></i></label>
            <input id="email" type="email" name="email" placeholder="Email">
        </div>

        <div class="control-formulario">
            <label for="contraseña"><i class="fas fa-lock"></i></label>
            <input id="contraseña" type="password" name="contraseña" placeholder="Contraseña">
        </div>

        <div class="control-formulario">
            <label for="repetir-contraseña"><i class="fas fa-lock"></i></label>
            <input id="repetir-contraseña" type="password" name="repetir-contraseña" placeholder="Repetir Contraseña">
        </div>


        <button type="submit" class="arte-boton">Registrarme</button>

    </form>

    <footer>
        <article class="footer-art footer-uno">
            <img src="/img/ZonaGamer_logo.png" class="logo" alt="">
        </article>

        <article class="footer-art footer-dos">
            <h3>Seguinos en las redes</h3>
            <div class="footer-icons">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </article>

        <article class="footer-art footer-tres">
            <p>Todos los derechos Reservados</p>
            <p class="blanco">Diseño: Juan M., Santi O., Rocko P.</p>
        </article>
    </footer>
</body>
</html>