* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Lato', sans-serif;
}

/* HEADER */

.navbar {
    background-color: #323f48;
    border-bottom: 1px solid #44d62d;
}

/*menu burga despleglable*/
.navbar-light .navbar-toggler {
    border: 1px solid #44d62d !important;
}

.navbar-brand img {
    max-width: 70px;
}

.navbar-nav .nav-item a{
    color: #ffffff !important;
}

.navbar-nav .nav-item a:hover {
    color: #44d62d !important;
}

.dropdown-menu li a.dropdown-item {
    color: black !important;
}

.btn-outline-success {
    border: 1px solid #44d62d !important;
    color: #ffffff !important;
}

.fa-id-card, .fa-sign-in-alt, .fa-shopping-basket {
    /* padding: 0px 9px; */
    font-size: 18px;
    color: #ffffff;
} 

.fa-id-card:hover, .fa-sign-in-alt:hover, .fa-shopping-basket:hover, .fa-sign-out-alt:hover {
    color: #44d62d;
}

/*Header Logeado*/
/*----------*/
/*imagen de perfil*/

a.profile-icon {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.d-flex {
    align-items: center;
}

.d-flex a {
    margin-right: 10px;
}

.img-profile {
    /* margin-right: 15px; */
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.fa-sign-out-alt {
    font-size: 18px;
    color: #ffffff;
}

/* ------------------------ MAIN --------------------------- */

/*-----BANNER MOBILE-------*/

.banner-mobile {
    display: block;
    /* margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.banner-mobile img {
    min-height: 360px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.banner-mobile h1 {
    /* font-family: 'Paytone One', sans-serif; */
    font-weight: 300;
    font-size: 30px;
    display: block;
    width: 45%;
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
    line-height: 40px;
    /* background-color: #323f48; */
}


.carousel {
    display: none;
}

.duos {
    display: none;
}



/*-----BANNER DE LA MITAD DE PAGINA-------*/

.img-banner-contenedor {
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px 2px rgba(187,187,187,0.91);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.img-banner-contenedor img {
    max-height: 169px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

/* ------- Sección de Ofertas ------- */

.ofertas,
.novedades {
    width: 90%;
    margin: auto;
}

.titulo-section {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

/* main section article {
    max-width: 900px;
    min-height: 550px;
} */

main section article.prod-contenedor {
    display: flex;
    margin: 10px;
    /* padding: 10px; */
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-end;
    min-height: 450px;
    justify-content: center;
    overflow: hidden;
}

.img-producto a,
.img-producto img {
    /* height: 420px;
    width: 420px; */
    /* object-fit: scale-down; */
    display: block;
    width: 100%;
    height: 100%;
}

.products-gral {
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    padding: 15px;
    position: relative;
    display: flex;
    align-self: flex-end;
    flex-grow: 1;
}

.fa-truck { 
    display: block; 
    font-size: 16px; 
    padding: 5px; 
    width: 30px; 
    height: 30px; 
    border: 1px solid #44d62d; 
    background-color: #FFF; 
    border-radius: 50%; 
    position: absolute; 
    right: 20px; 
    top: -15px;
}

.prod-descuento {
    flex-grow: 7;
    font-size: 16px;
}

.prod-precio {
    flex-grow: 3;
    font-size: 18px;
    color: #323f48;
}

.prod-descuento,
.fa-truck {
    color: #44d62d;
    border-radius: 50%;
}

.fa-truck {
    padding-bottom: 15px;
}

.prod-descripcion {
    padding-top: 15px;
}

article.prod-contenedor a {
    text-decoration: none;
}

/*---------------- LOGIN ----------------*/

main .form {
    margin: auto;
    max-width: 700px;
    padding: 20px 0;
}

main .form div {
    margin: 15px;
}

main .form label {
    display: block;
    padding-bottom: 3px;
    font-size: 15px;
    font-style: italic;
}

main .form input {
    width: 100%;
    border: solid #44d62d 1px;
    outline: none;
    padding: 15px;
    border-radius: 8px;
}

.form h2,
.form p {
    text-align: center;
    padding-top: 15px;
}

.form button {
    width: 100%;
    background-color: #44d62d;
    outline: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

.form a {
    margin-top: 10px;
    text-decoration: none;
    color:  #44d62d;
}


/*---------------- FOOTER ----------------*/

footer {
    width: 100%;
    background-color: #323f48;
    color: #ffffff;
    padding: 25px 0;
    border-top: solid 3px #44d62d;
}

footer article {
    text-align: center;
}

.footer-art {
    padding: 15px 0;
}

.logo {
    width: 100px;
}

article.footer-dos h3{
    padding-bottom: 10px;
}

div.footer-icons i {
    color: #44d62d;
    font-size: 25px;
    margin: 0px 15px;
}

.fa-gamepad {
    color: #44d62d;
}

.footer-art h3, .footer-art p {
    color: rgb(153, 149, 149);
}

p.blanco {
    color: #ffffff;
    padding-top: 6px;
}

.footer-copy-header {
    display: none;
}


/* ---------------- MEDIA QUERIES ---------------- */

@media (min-width: 340px) {
    .ofertas,
    .novedades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 10;
        margin-bottom: 30px;
    }

    main section article.prod-contenedor {
        width: 95%;
    }

    .prod-descripcion {
        display: none;
    }

    .main-navbar {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    
    .burger-button {
        display: none;
    }
    
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    
    .main-navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .main-navbar li {
        margin: 0 5px;
    }

    .main-navbar a {
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        padding: 5px 0;
        font-size: 15px;
    }

    .right-navbar {
        display: flex;
        align-items: center;
    }

    .banner-mobile {
        display: none;
    }

    .carousel {
        display: flex; 
    }

    

    /* Estilos del Menú duos */

    .duos {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        border-top: 5px solid #ffffff;
        height: 200px;
    }

    .plays{
        background-color:  #004EFF;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .xbox {
        background-color: #44d62d;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .duos .plays a, .duos .xbox a {
        margin-top: 350px;
    } */

    .duos img {
        width: 70px;
        margin: auto;
        opacity: 15%;
    }

    .plays:hover img,
    .xbox:hover img {
        opacity: 100%;
    }

    .duos {
        height: 436px;
    }

    /* .duos .plays a, .duos .xbox a {
        margin-top: 190px;
    } */

    main section article.prod-contenedor {
        box-shadow : 0px 0px 5px #e5e7e9;
        border-radius: 10px;
        width: 45%;
        position: relative;
        overflow: hidden;
        max-height: 150px;
    }
    
    /* main section article {
        min-height: 475px;
    } */
    
    main section article .img-producto {
        position: absolute;
        /* padding: 10px; */
        /* top: 50%;
        left: 50%; */
        /* text-align: center; */
        top: 0;
        height: 92%;
        width: 100%;
        object-fit: contain;
    }

    /* main section article a {
        min-height: 475px;
    } */

    .products-gral {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .img-producto {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    /* .img-banner-contenedor {
        overflow: visible;  
    }

    .img-banner-contenedor img{
        margin-left: 0%;
        transform: translateX(0%);
        width: 100%;
        box-shadow: 0px 10px 10px 4px rgba(187,187,187,0.91);
    } */
}

@media (min-width: 1024px) {
    main section article.prod-contenedor {
        width: 22%;
    }

    .prod-contenedor:hover {
        box-shadow: 0px 0px 10px rgb(78, 78, 78);
    }

    .duos {
        height: 100vh;
    }

    /* main section article {
        min-height: 333px;
    }
    
    main section article .img-producto {
        min-height: 333px;
    } */

    /* .duos .plays a, .duos .xbox a {
        margin-top: 340px;
    } */

    /*Estilos provisorios Header Desktop*/

    .img-banner-contenedor {
        overflow: visible;  
    }

    .img-banner-contenedor img{
        max-height: none;
        margin-left: 0%;
        transform: translateX(0%);
        width: 100%;
        box-shadow: 0px 10px 10px 4px rgba(187,187,187,0.91);
    }




    
    /*FOOTER*/
    .footer-flex {
        display: flex;
        justify-content: space-between;
        padding: 0px 70px;
    }

    .footer-copy-header {
        display: block;
        padding: 25px 0px 0px 59px;
        font-size: 27px;
    }

    article.footer-dos h3 {
        font-size: 1.17em;
    }

    .footer-icons i:hover {
        color: #39bb24;
    }
}