<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Login"}) %>   

<body>

    <%- include('../partials/header') %> 

    <main>
        <form class="form-user" action="/" method="GET">
            <div>
                <h2>Regístrese</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eum iste adipisci mollitia odio magnam quisquam</p>
            </div>
            <div>
                <label for="usuario">Ingrese el usuario:</label>
                <input id="usuario" type="text" name="usuario" placeholder="Usuario">
            </div>
            <div>
                <label for="clave">Contraseña</label>
                <input id="clave" type="password" name="clave" placeholder="Contraseña">
            </div>
            <div>
                <button type="submit">Enviar</button>
                <a href="#">¿Olvidó su contraseña?</a>
            </div>
            <hr>
            <div>
                <h2>Nuevo usuario</h2>
                <p>Crear una cuenta tiene muchos beneficios: Paga más rápido, puede guardar más de una dirección, seguimiento de pedidos y mucho más.</p>
            </div>
            <div>
                <a href="#">
                    <button class="boton-nc" type="submit">Crear una cuenta</button>
                </a>
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %> 


</body>

</html>