<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/styles-login.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="/img/zgfavicon.png" type="image/x-icon">
    <title>ZG - Login</title>
</head>
<body>

    <header class="main-header">
        <div class="top-header">
            <div class="logo-burger">
                <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo"></a>
                <a href="#" class="burger-button">
                    <i class = "fa fa-bars"></i>
                </a>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-gamepad"></i>
                La mejor opción para los gamers
            </h2>
        </div>

        <div class="form" action='#' method="GET">
            <input class="input" type="text" name="search-bar" placeholder="Buscar productos, marcas y más">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Consolas</a></li>
                <li><a href="">Juegos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="./registro">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
                <li><a href="./login">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="./carrito">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="form" action="/" method="GET">
            <div>
                <h2>Regístrese</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eum iste adipisci mollitia odio magnam quisquam</p>
            </div>
            <div>
                <label for="usuario">Ingrese el usuario:</label>
                <input id="usuario" type="text" name="usuario" placeholder="Usuario">
            </div>
            <div>
                <label for="clave">Contraseña</label>
                <input id="clave" type="password" name="clave" placeholder="Contraseña">
            </div>
            <div>
                <button type="submit">Enviar</button>
                <a href="#">¿Olvidó su contraseña?</a>
            </div>
        </form>
    </main>

    <footer>
        <div class="footer-flex">
            <article class="footer-art footer-uno">
                <a href="/"><img src="/img/ZonaGamer_logo.png" class="logo" alt=""></a>
            </article>

            <h4 class="footer-copy-header">
                <i class="fas fa-gamepad"></i>
                La mejor opción para los gamers
            </h4>

            <article class="footer-art footer-dos">
                <h3>Seguinos en las redes</h3>
                <div class="footer-icons">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </article>
        </div>
        

        <article class="footer-art footer-tres">
            <p>Todos los derechos Reservados</p>
            <p class="blanco">Diseño: Juan M., Santi O., Rocko P.</p>
        </article>
    </footer>

</body>
</html>