<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Registro"}) %>

<body>

    <%- include('../partials/header') %> 

    <main>
        <form action="" class="form-user">

            <h2>CREAR CUENTA</h2>

            <div>
                <label for="nombre">Ingrese su Nombre:</label>
                <input id="nombre" type="text" name="nombre" placeholder="Nombre Completo">
            </div>

            <div>
                <label for="usuario">Ingrese su Usuario:</i></label>
                <input id="usuario" type="text" name="usuario" placeholder="Nombre de Usuario">
            </div>
            
            <div>
                <label for="email">Ingrese su Email:</i></label>
                <input id="email" type="email" name="email" placeholder="Email">
            </div>

            <div>
                <label for="contraseña">Ingrese su Contraseña</i></label>
                <input id="contraseña" type="password" name="contraseña" placeholder="Contraseña">
            </div>

            <div>
                <label for="repetir-contraseña">Repetir Contraseña</i></label>
                <input id="repetir-contraseña" type="password" name="repetir-contraseña" placeholder="Repetir Contraseña">
            </div>

            <div>
                <button type="submit">Registrarme</button>
            </div>

            <hr>
        </form>
        <div class="form-user">
            <div>
                <h2>¿Ya tenés una cuenta?</h2>
            </div>
            <div>
                <a href="/users/login">
                    <button class="boton-nc" type="submit">Iniciar sesión</button>
                </a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %> 

    
</body>

</html>