<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Carrito de Compras"}) %>

<body>

    <%- include('../partials/header') %> 

    

    <main class="contenedor-cart">
        <h4>Carrito de compras</h4>

        <div id="vacio" class="vacio">
        
        </div>
        
    </main>
    
    <%- include('../partials/footer') %> 

    <script src="/js/carrito.js"></script>
</body>

</html>
