<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Producto Administrador"}) %>

<body>

    <%- include('../partials/header') %> 

    <main>
        <form action="" method="POST" enctype="multipart/form-data" class="form-user">

            <h2>AGREGAR PRODUCTO</h2>

            <div>
                <label for="nombre">Nombre de producto:</label>
                <input id="nombre" type="text" name="nombre" placeholder="Nombre Producto">
            </div>

            <div>
                <label for="description">Descripción:</label>
                <input id="description" type="text" name="descripcion" placeholder="Descripción">
            </div>
            
            
            <div>
                <label>Agregar imagenes del producto:</label>
                <input type="file" name="imagen" accept=".jpg, .png" multiple>
            </div>
            

            <div>
                <label for="price">Precio:</label>
                <input id="price" type="number" name="precio" placeholder="Precio">
            </div>

            <div>
                <label for="descuento">Descuento:</label>
                <input id="descuento" type="number" name="descuento" placeholder="Descuento">
            </div>

            <div>
                <label>Categorías de interés:</label>
                    <select name="categoria">
                        <option name="novedades" value="novedades" selected>Novedades</option>
                        <option name="ofertas" value="ofertas">Ofertas</option>
                    </select>
            </div>

            <div>
                <button type="submit">Agregar Producto</button>
            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 

    
</body>

</html>