<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Producto Administrador"}) %>

<body>

    <%- include('../partials/header') %> 

    <main>
        <form action="/products/<%=productosJSON.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-user">

            <h2>EDITAR PRODUCTO:<% productosJSON.nombre %></h2>

            <div>
                <label for="nombre"><% productosJSON.nombre %></label>
                <input id="nombre" type="text" name="nombre" value="<% productosJSON.nombre %>">
            </div>

            <div>
                <label for="description">Descripción:</i></label>
                <input id="description" type="text" name="description">
            </div>
            
            
            <div>
                <label>Agregar imagenes del producto:</label>
                <input type="file" name="image" accept=".jpg, .png" multiple>
            </div>
            

            <div>
                <label for="price">Precio:</i></label>
                <input id="price" type="text" name="price">
            </div>
            
            <div>
                <label for="descuento">Descuento:</i></label>
                <input id="descuento" type="number" name="descuento" placeholder="descuento">
            </div>

            <div>
                <label>Categorías de interés:</label>
                    <select name="interes">
                        <option value="novedades" selected>Novedades</option>
                        <option value="ofertas">Ofertas</option>
                        <option value="visitados">visitados</option>
                    </select>
            </div>

            <div>
                <button type="submit">Actualizar Producto</button>
            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 

    
</body>

</html>