<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Carrito de Compras"}) %>

<body>

    <%- include('../partials/header') %> 

    <main class="contenedor-cart">
        <h4>Carrito de compras</h4>
        
        <section class="checkout-cart">
            <article class="item-cart">
                <form action="#" method="GET">
                    <button type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
                <div class="img-cart"><img src="/img/JuegosCaja_03_TheLastOfUs.jpg" alt=""> </div>
                <div class="descripcion-cart"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                <div class="precio-cart">$4500</div>
            </article>
            <article class="cant-cart">
                <form action="#" method="GET">
                    <label for="cantidad">Cantidad:</label>
                    <input class="cant-prod" type="text" name="cantidad" id="cantidad">
                </form>
            </article>
        </section>

        <section class="sumario-cart">
            <h4>Resumen de compra</h4>
            <div class="descuento-cart">
                <form action="#" method="GET">
                    <label for="descuento">Ingrese código de descuento.
                        <input type="text" name="descuento" id="descuento" placeholder="Ingrese código de descuento">
                    </label>
                </form>
            </div>
            <p>Debido a la emergencia sanitaria, la preparación y entrega de los pedidos pueden verse afectados con una demora extra a lo habitual.</p>
            <div class="totales">
                <div class="titulos">
                    <h5>SUBTOTAL:</h5>
                    <h5>ENVÍO:</h5>
                    <h3>TOTAL:</h3>
                </div>
                <div class="cantidades">
                    <h5>$16.000</h5>
                    <h5>calcular</h5>
                    <h3>$16.000</h3>
                </div>
            </div>
            <form action="#" method="GET">
                <button type="submit">Iniciar Pago</button>
            </form>
            <form action="#" method="GET">
                <button type="submit">Agregar más productos</button>
            </form>
        </section>
    </main>
    
    <%- include('../partials/footer') %> 

    
</body>

</html>
