<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Carrito de Compras"}) %>

<body>
    
    <%- include('../partials/header') %> 

    <h1>ACA TIENEN QUE ESTAR LOS PRODUCTOS!</h1>

        <section class="container-products">
            <article class="prod-contenedor">
                <a href="/Fifa_21"><img src="/img/JuegosCaja_02_fifa.jpg" alt="Fifa21" class="img-products-gral"></a>
                <div class="products-gral">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$2.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Fifa 21</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/joystick_PS5"><img src="/img/ps5_joystick_01.jpg" alt="cafetera" class="img-products-gral"></a>
                <div class="products-gral">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">Joystick PS5</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/joystick_XBox"><img src="/img/xbox_joystick_01.jpg" alt="XBox joystick"
                        class="img-products-gral"></a>
                <div class="products-gral">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$5.300</p>
                    <p class="descuento">30% off</p>
                    <h4 class="descripcion">Joystick XBox X Series</h4>
                </div>
            </article>
            <article class="prod-contenedor">
                <a href="/Fifa_21"><img src="/img/JuegosCaja_02_fifa.jpg" alt="Fifa21" class="img-products-gral"></a>
                <div class="products-gral">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$2.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Fifa 21</h4>
                </div>
            </article>
        </section>

    <%- include('../partials/footer') %> 
</body>
</html>